@import "tailwindcss";

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

textarea {
  resize: none;        /* no manual resize */
  overflow: hidden;    /* hide scrollbars */
  line-height: 1.3;
}

.react-flow__nodesselection-rect {
  display: none;
}
.react-flow__selection {
          background: rgba(59, 130, 246, 0.15) !important;
          border: 2px solid #3b82f6 !important;
          border-radius: 4px !important;
        }

        /* Optional: Add animation */
        .react-flow__selection {
          animation: pulse 1.5s ease-in-out infinite;
        }

        @keyframes pulse {
          0%, 100% {
            border-color: #3b82f6;
            box-shadow: 0 0 0 rgba(59, 130, 246, 0.4);
          }
          50% {
            border-color: #2563eb;
            box-shadow: 0 0 15px rgba(59, 130, 246, 0.6);
          }
        }
html, body, #root {
  height: 100%;
  margin: 0;
}
#the-iframe::-webkit-scrollbar {
    display: none;
}


.pdf_layers {
  position: relative;
  pointer-events: none;
}

.pdf_layers canvas {
  position: absolute;
  inset: 0;
  z-index: 1;
  pointer-events: none;
}

.pdf_layers_text {
  position: absolute;
  inset: 0;
  opacity: 1;
  line-height: 1;
  z-index: 5;
  pointer-events: auto;
  user-select: text;
}

.pdf_layers_text br::selection{
  color : transparent
}

.pdf_layers_text span {
  position: absolute;
  cursor: text;
  white-space: pre;
  transform-origin: 0% 0%;
  color: transparent;
}

.pdf_layers_text span::selection {
  background-color: rgba(254, 208, 55, 0.6);

}